<!-- Page Content -->
<div class="container"><br/><br/>
  <!-- Portfolio Item Row -->
  <div class="row">

    
	<img src="{{{appData.icon}}}" height="300" width="300" alt="Video Not Found" >
	</iframe>
    <div class="col-md-4">
      <h3 class="my-3">{{{appData.title}}}</h3>
      <p>{{{appData.category}}}&nbsp;&nbsp;&nbsp;{{{appData.developer}}}</p>
  
      <button type="button" class="btn btn-success">Download For PC</button>
      
    </div>

  </div><br/>

  <h3>ScreenShots</h3>
  <div class="row-fluid">
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
            <!-- START PANEL -->
            {{#each appData.screenshots}}
            <div class="cover-item" style="background-image: url('{{this}}')"></div>
            {{/each}}
            <!-- END PANEL -->
        </div>
    </div>
  </div><br/><br/>
  <h3>Description</h3><br/>
  <p>{{{appData.description}}}</p>
  <!-- /.row -->
<!--
  <div class="row">
	{{#each appData.screenshots}}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
		<img class="img-fluid" src="{{this}}" alt="Video Not Found">
		</a>
    </div>
	{{/each}}
  </div> -->
  <!-- /.row -->

</div>
<!-- /.container -->